<!DOCTYPE html>
<html lang="en">
 <head>
   <title>Bias Tracker</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="/stylesheets/style.css">
 </head>

 <body>

<header class="header">
        <div class="header__brand">
            <a class="header__logo" method="GET" href="/">
                <img src='https://storage.cloud.google.com/cs411-11-8-22/logo.png' class="header__img"></img>
            </a>

            <h1 class="header__title">National Bias Tracker</h1>
        </div>

        <nav class="primary-nav">
            <ul class="primary-nav__list">
                <li class="primary-nav__item">
                    <a href="competitions" method="GET" class='primary-nav__link'>Competitions</Link>
                </li>
                <li class="primary-nav__item">
                      <a href="skaters" method="GET" class='primary-nav__link'>Skaters</Link>
                </li>
                <li class="primary-nav__item">
                      <a href="judges" method="GET" class='primary-nav__link'>Judges</Link>
                </li>
		<li class="primary-nav__item">
                    <a href="advancedQueries" class="primary-nav__link">Advanced Queries</a>
                </li>
		<li class="primary-nav__item">
                    <a href="advancedQueriesVisual" class="primary-nav__link">Bias Visualizer</a>
                </li>
                <li class="primary-nav__item">
                    <a class="primary-nav__link" href="biasedJudges">Biased Judges</a>
                </li>
            </ul>
        </nav>
 </header>

<div class="intro">
 <h2 class="intro__header">Our Purpose</h2>
 <p class="intro__txt">Our goal is to bring awareness to biases in the sport of figure skating. Because there are subjective aspects of scoring, which is not present in sports like basketball or soccer, judges can consciously or unconsciously favor certain competitors with higher scores. Nationalistic bias has been scrutinized before, but remains a problem. We want to bring awareness to past and current instances of biased scoring shown by certain judges and provide some interesting data on the matter.</p>
</div>

 </div>
 </body>
</html>
